#!/usr/bin/env bash
# Used by https://direnv.net

# Automatically reload when this file changes
watch_file devshell.nix
watch_file .env

# Load `nix develop`
use flake

# Load environment variables from .env
dotenv_if_exists .env

# Extend the environment with per-user overrides
source_env_if_exists .envrc.local
